mms.ignoreInitialUiSetup=true
mms.centralUrl=http://{{ ansible_host }}:8080
mms.https.ClientCertificateMode=none
mms.adminEmailAddr=kuber.gaur@mongodb.local
mms.fromEmailAddr=kuber.gaur@mongodb.local
mms.replyToEmailAddr=kuber.gaur@mongodb.local
mms.mail.hostname=localhost
mms.mail.port=25
mms.mail.ssl=false
mms.mail.transport=smtp
mongo.mongoUri={{ connection_string }}
mongo.encryptedCredentials=false
automation.versions.source=hybrid
mongo.ssl=false
